.main-row {
  margin-bottom: 50px;
}

.filter {
  background-color: #edeff1;
  border-radius: 4px;
  padding-bottom: 2px;
}

.filter-header {
  text-transform: uppercase;
  color: #34495e;
  font-weight: 700;
}

.filter > .row {
  padding-top: 7px;
  padding-bottom: 7px;
}

.filter .select {
  min-width: 0;
  width: 100%;
}

.filter .bootstrap-switch {
  float: right;
}

.lots-list .list-group-item {
  border-left: none;
  border-right: none;
}

.mapDialog .markerTable,
.mapDialog .markerTable table {
    width: 100%;
}

.mapDialog .markerTable th,
.mapDialog .markerTable td {
    padding: 5px;
}
