*{
	margin: 0 0 0 0;
	padding: 0 0 0 0;
}

body {
	background-color: grey;
	font-family: Consolas
}

#main{
	max-width: 1500px;
	min-width: 540px;
	width: 90%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 30px;
	margin-bottom: 30px;
}

#top{
  margin-bottom: 30px;
  background-color: lightgrey;
  border: 4px solid #304D66;
  -webkit-box-shadow: 6px 6px 19px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 6px 6px 19px 0px rgba(0,0,0,0.75);
  box-shadow: 6px 6px 19px 0px rgba(0,0,0,0.75);
  font-weight:bold;
}

#heading{
	padding: 20px 20px 20px 20px;
	border-bottom: 2px solid grey;
	text-align: center;
}

#selectionbox{
	padding: 20px 50px 30px 50px;
}

#selectionleft{
	float: left;
	width: 50%;
}

#selectionright{
	width: 50%;
	float: right;
}

#clear{
	clear: both;
}

#map{
	border: 4px solid #304D66;
	padding: 20px 20px 20px 20px;
	background-color: lightgrey;
	clear: both;
	-webkit-box-shadow: 6px 6px 19px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 6px 6px 19px 0px rgba(0,0,0,0.75);
	box-shadow: 6px 6px 19px 0px rgba(0,0,0,0.75);
}

#table{
	margin-top: 10px;
	border: 4px solid #304D66;
	padding: 20px 20px 20px 20px;
	background-color: lightgrey;
	-webkit-box-shadow: 6px 6px 19px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 6px 6px 19px 0px rgba(0,0,0,0.75);
	box-shadow: 6px 6px 19px 0px rgba(0,0,0,0.75);
}

table{
	width:100%;
	border-collapse: collapse;
}

table,th,td{
	border: 1px solid #304D66;
	padding: 5px 0px 5px 0px;
}

th{
	font-weight:bold;
}

td{
	font-weight:normal;
}

#selectionright td, #selectionleft td, #selectionright table, #selectionleft table{
	border: none;
}

.selectionLabel{
	width: 220px;
	margin: 20 20 20 20;
}

.selectionField{
	
}

#selectionbox td{
}

.logo {
	width: 110px;
}

@media only screen and (max-width: 1250px) {
	#main{
		min-width: 98%;
	}

	#selectionleft{
		width: 100%;
	}

	#selectionright{
		width: 100%;
		float: none;
	}

	#table{
	overflow-x: scroll;
	}
	
	.logo{
		width: 70px;
	}
}

@media only screen and (max-width: 750px) {
	
	#main{
		width: 98%;
		margin: 0;
	}
	
	#table {
		margin: 0;
	}
	
	#top{
		margin: 0;
	}
		
	#selectionleft{
		width: 100%;
	}

	#selectionright{
		width: 100%;
		float: none;
	}

	.logo{
		width: 70px;
	}
}

